.main {
  max-width: 600px;
  margin: 0 auto;
  background: #FFF;
  height: 100%;
  padding: 20px 40px;
}

.task {
  list-style: none;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px dashed #9f9f9f;
  margin-bottom: 40px;
}

.tag {
  color: #39b3e4;
  padding: .3em;
}

.finish {
  text-decoration: line-through;
}

.date {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.finish-button {
  border: none;
  margin: .5em ;
  background: #0980c4;
  padding: 0.5em;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #ffffff;
}